.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
}

#sidebar {
    background: lightgray;
    min-width: 350px;
    max-width: 350px;
    min-height: 100vh;
}

.row {
    padding: 20px;
}

.card {
    text-transform: capitalize;
    background: lightsteelblue;
}

.sidebar-header {
    padding-left: 20px;
}