.wrapper {
    display: flex;
    align-items: stretch;
    height: 100%;
    padding: 0;
}

#sidebar {
    background: lightgray;
    max-width: 350px;
    min-height: 100vh;
}

.card {
    text-transform: capitalize;
    background: lightsteelblue;
}

.sidebar-header {
    padding-left: 20px;
}

#weather-info {
    padding-top: 20px;
}

#sidebar {
    padding: 0;
}

#body {
    padding: 0;
    margin: 0;
}

#search-bar {
    padding: 20px;
}

.card-text {
    margin-bottom: 10px;
}